[Unit]
Description=Updates pacman repositories

[Service]
Type=simple
ExecStartPre=/bin/echo "Updating pacman repositories.."
ExecStart=/bin/pacman -Sy
